<h1>Admin::Dashboard#show</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2"><h4>Total Products: 
      </h4></th>
      <th><h4>Total Categories:
      </h4></th>
    </tr>
  </thead>
  <tbody>
  <th colspan="2"><h4><%= @products_count %>
  </h4></th>
  <th><h4><%= @categories_count %>
  </h4></th>
  </tbody>
 
</table>